<a href="https://colab.research.google.com/github/jenbam/python_nltk_data_preprocessing/blob/main/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder # converts our text in numerical form
from sklearn.model_selection import train_test_split

In [20]:
# getting data set
df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [21]:
df.shape

(17000, 9)

In [23]:
df.head

<bound method NDFrame.head of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]>

In [24]:
le = LabelEncoder()

In [25]:
df_encoded = df.apply(le.fit_transform, axis=0)

In [26]:
df_encoded.head

<bound method NDFrame.head of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0            826       165                  14         4529            1258
1            825       186                  18         5045            1605
2            824       115                  16          526             173
3            823       110                  13         1285             336
4            823       103                  19         1238             325
...          ...       ...                 ...          ...             ...
16995          3       759                  51         2000             393
16996          2       770                  35         2132             527
16997          1       836                  16         2458             530
16998          1       833                  18         2453             551
16999          0       755                  51         1603             299

       population  households  median_income  median_house_value
0             972         471            539                 246
1            1086         462           1106                 376
2             291         116            781                 432
3             472         225           4336                 310
4             581         261           1291                 233
...           ...         ...            ...                 ...
16995         864         368           2308                 688
16996        1151         464           2652                 365
16997        1201         455           3901                 611
16998        1255         477           1404                 433
16999         763         269           3850                 521

[17000 rows x 9 columns]>

In [27]:
df = df_encoded.values

In [30]:
X = df[: , 1: ]
X

array([[ 165,   14, 4529, ...,  471,  539,  246],
       [ 186,   18, 5045, ...,  462, 1106,  376],
       [ 115,   16,  526, ...,  116,  781,  432],
       ...,
       [ 836,   16, 2458, ...,  455, 3901,  611],
       [ 833,   18, 2453, ...,  477, 1404,  433],
       [ 755,   51, 1603, ...,  269, 3850,  521]])

In [31]:
y = df[: , 0]
y

array([826, 825, 824, ...,   1,   1,   0])